html {
    height:100%;
}

body {
    height:100%;
    margin: 0 auto;
    padding: 0;
    background: #ffffff;
    color: #111;
    font-family: "ITC Avant Garde Gothic Std";
    font-size: 14px;
    margin:0 13%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:stretch;
}


main {
    width:100%;
    flex-grow: 1;
    margin-top:1.4em;
    flex-shrink:0;
}

