@font-face{
    font-family: "Andale Mono";
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: "Didot FutureClaw Tall";
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family:"Helvetica Neue LT Std";
    font-style: normal;
    font-weight: 600;
}
@font-face{
    font-family: "ITC Avant Garde Gothic Std";
    font-style: normal;
    font-weight: 200;
}
@font-face{
    font-family:"ITC Avant Garde Gothic Std";
    font-style: normal;
    font-weight: medium;
}
@font-face{
    font-family:"ITC Avant Garde Gothic Std";
    font-style: normal;
    font-weight: 600;
}
@font-face{
    font-family:"ITC Avant Garde Gothic Std";
    font-style: normal;
    font-weight: bold;
}
@font-face{
    font-family:"ITC Avant Garde Gothic Std";
    font-style: oblique;
    font-weight: 200;
}

@font-face{
    font-family:"ITC Avant Garde Gothic Std";
    font-style: oblique;
    font-weight: medium;
}
