<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="logo_icon" viewBox="0 0 525.57 95.28">
        <style>#logo_icon .a{fill:#231f20;}#logo .b{fill:none;}</style>
    </symbol>
    <symbol id="glass_icon" viewBox="0 0 18.05 18.72">
        <style>#glass_icon .a{fill:#fff;} #glass_icon .a,#glass_icon .b{stroke:#231f20;stroke-miterlimit:10;}#glass_icon .b{fill:none;}</style>
        <title>Search</title>
        <circle class="a" cx="7.5" cy="7.5" r="7"/>
        <line class="b" x1="17.7" y1="18.36" x2="12.11" y2="12.77"/>
    </symbol>
    <symbol id="bag_icon"  viewBox="0 0 27.77 26.48">
        <style>#bag_icon .a{fill:none;stroke:#231f20;stroke-miterlimit:10;}</style>
        <title>Shopping Bag</title>
        <rect class="a" x="0.5" y="8.23" width="26.77" height="17.75"/>
        <path class="a" d="M339.05,397.88v-6.5c0-3.28-2.39-5.94-5.33-5.94s-5.34,2.66-5.34,5.94v6.5" transform="translate(-319.83 -384.94)"/>
    </symbol>
    <symbol id="person_icon" viewBox="0 0 21 27.29">
        <style>#person_icon .a{fill:none;stroke:#231f20;stroke-miterlimit:10;}</style>
        <title>Account</title>
        <path class="a" d="M290.3,411.5a10,10,0,0,1,20,0" transform="translate(-289.8 -384.21)"/>
        <circle class="a" cx="10.1" cy="7.18" r="6.68"/>
    </symbol>
    <symbol id="trashcan_icon" viewBox="0 0 14.45 16.74">
        <style>#trashcan_icon .a{fill:none;stroke:#231f20;stroke-miterlimit:10;}</style><
            <title>Delete</title>
        <polygon class="a" points="12.8 4.14 11.31 16.24 7.23 16.24 3.14 16.24 1.65 4.14 12.8 4.14"/>
        <line class="a" y1="2.63" x2="14.45" y2="2.63"/>
        <polyline class="a" points="9.51 2.63 9.51 0.5 5.08 0.5 5.08 2.63"/>
    </symbol>
</svg>
